<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ECommerce Checkpoint 3</title>
</head>
<body>
  <div>
    <h2>Customer Profile</h2>
    <p><strong>Username:</strong> <%= user.username %></p>

    <h2><%= user.username %> Purchase History</h2>
    <% if (user.purchases && user.purchases.items && user.purchases.items.length > 0) { %>
      <div>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
          <% user.purchases.items.forEach(item => { %>
            <tr>
              <td><%= item.productId.name %></td>
              <td>$<%= item.price.toFixed(2) %></td>
              <td><%= item.quantity %></td>
              <td>$<%= (item.price * item.quantity).toFixed(2) %></td>
            </tr>
          <% }); %>
            <tr><td><hr></td></tr>
            <tr>
              <td><strong>Total Spent</strong></td>
              <td><%= user.purchases.totalPrice.toFixed(2) %></td>
            </tr>
            <tr>
              <td><strong>Total Purchases</strong></td>
              <td>$<%= user.purchases.totalQuantity %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% } else { %>
      <p>Your cart is empty.</p>
    <% } %>
    <p><a href="/">Products</a></p>
    <p><a href="/showCart">Cart</a></p>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
